@font-face {
	font-family: Gotham Rounded;
	src: url("font.otf") format("opentype");
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: Gotham Rounded;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: white;
	background-size: cover;
}

.container {
	width: 900px;
	height: 900px;
	max-height: 98.8%;
	max-width: 95%;
}

.black {
	padding: 5px;
	text-align: center;
	border-radius: 20px;
}

.answer {
	display: grid;
	grid-template-columns: repeat(1, auto);
	gap: 10px;
}

.btn {
	width: 100%;
	padding: 10px 0;
	background: #00e226;
	border: 0;
	outline: none;
	color: rgb(255, 255, 255);
	font-size: 30px;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
}

.black h2 {
	color: black;
	font-style: inherit;
	font-size: 35px;
}

.black p {
	font-size: 18px;
	font-style: inherit;
	color: black;
}

.p2 {
	font-size: 18px;
	color: white;
}